<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Busqueda de trabajo</h1>
    <ul>
        {% for job in jobs %}
            <li>
                <p>{{ job.job_name }}</p>
                <p>{{ job.job_desc }}</p>
                <p>{{ job.job_price }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>